<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        id          = "il.co.shibby.auto-complete"
        versionCode = "1" 
        version     = "0.1.1" >

    <!-- versionCode is optional and Android only -->

    <name>Auto-Complete</name>

    <description>
        An auto-complete game for mobile by shibby-team.
    </description>

    <author href="http://shibby.co.il" email="support@shibby.co.il">
        Shibby 
    </author>
	<!-- Plugins -->  
	<gap:plugin name="org.apache.cordova.device" /> <!-- Device plugin -->  
	<gap:plugin name="com.phonegap.plugin.statusbar" /> <!-- Status bar plugin -->  
	<gap:plugin name="com.verso.cordova.clipboard" /> <!-- Clipboard plugin -->  
	<gap:plugin name="com.chariotsolutions.cordova.plugin.keyboard_toolbar_remover" /> <!-- Keyboard toolbar removal plugin -->  
	<gap:plugin name="org.apache.cordova.splashscreen" /> <!-- Splashscreen plugin -->  
	<gap:plugin name="org.apache.cordova.vibration" /> <!-- Vibration plugin -->
</widget>