<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        id          = "il.co.shibby.auto-complete"
        versionCode = "1" 
        version     = "0.1.0" >
    <!-- versionCode is optional and Android only -->

    <name>Auto-Complete</name>

    <description>
        An auto-complete game for mobile by shibby-team.
    </description>

    <author href="http://shibby.co.il" email="support@shibby.co.il">
        Shibby 
    </author>
	<gap:config-file platform="android" parent="/manifest">
		<supports-screens android:anyDensity="true" android:resizeable="true" 
			android:smallScreens="true" 
			android:normalScreens="true" 
			android:largeScreens="true" 
			android:xlargeScreens="true" />
			<activity android:name="com.google.android.gms.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
			<uses-permission android:name="android.permission.INTERNET"/>
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	</gap:config-file>
	<gap:plugin name="org.apache.cordova.vibration" />

</widget>