<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
		xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "il.co.shibby.auto-complete"
        versionCode = "2" 
        version     = "1.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>Auto Correct Challenge</name>

    <description>
        An Auto Correct game for mobile by shibby-team.
    </description>

    <author href="http://shibby.co.il" email="support@shibby.co.il">
        Shibby 
    </author>
	<!-- Icons -->
	<icon src="icon.png" />
		<!-- Adnroid -->
		<icon src="imgs/android/icon/ldpi.png" gap:platform="android" gap:density="ldpi" />
		<icon src="imgs/android/icon/mdpi.png" gap:platform="android" gap:density="mdpi" />
		<icon src="imgs/android/icon/hdpi.png" gap:platform="android" gap:density="hdpi" />
		<icon src="imgs/android/icon/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
		<icon src="imgs/android/icon/xxhdpi.png" gap:platform="android" gap:density="xxhdpi" />
	
	<!-- Builds -->
	<gap:platform name="android" />
	<!-- Plugins -->
	<gap:plugin name="org.apache.cordova.vibration" />
	<gap:plugin name="org.apache.cordova.network-information" />	
	<gap:plugin name="nl.x-services.plugins.socialsharing" />
	<gap:plugin name="com.phonegap.plugins.childbrowser" />
</widget>